.site-nav {
  background-color: #f9f9f9;
}

.site-logo-link:hover {
  opacity: 0.7;
}

.nav-link {
  font-size: 18px;
  color: #40a03e !important;
}

.nav-link {
  transition: opacity 0.5s ease;
}

.nav-link:hover {
  opacity: 0.7;
}

.site-header-toggler {
  border: none;
}

.site-heading {
  font-family: 'Dosis', serif;
  font-size: 3.5rem;
}

.comand-card__heading {
  font-weight: bold;
}

.comand-card__heading--first {
  color: brown;
}

.comand-card__heading--second {
  color: #0153a0;
}

.list-items {
  color: #40a03e;
}

.site-button {
  font-weight: bold;
  color: #fff;
  background-color: #40a03e;
}

.site-button:active {
  opacity: 0.7;
}


.modal-dialog {
  margin: 100px auto;
}

.modal-heading {
  text-transform: capitalize;
  color: #40a03e;
}

.close-btn {
  color: #40a03e;
  opacity: 1;
}

.nav-link-txt {
  background-color: #f9f9f9;
  border: 1px solid #b9b9b9;
  text-transform: capitalize;
}

.liverpool-table {
  color: brown;
}

.leciester-table {
  color: #0153a0;
}

.top-goals {
  max-width: 100%;
  width: 100%;
  height: 500px;
}

.fade:not(.show) {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  
  .site-logo {
    width: 200px;
  }

}

@media only screen and (max-width: 768px) {
  
  .comand-card__logo {
    width: 220px;
  }

  .site-heading {
    font-family: 'Dosis', serif;
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 375px) {
  
  .site-logo {
    width: 140px;
  }

  .site-header-toggler {
    padding: 0;
    border: none;
  }

}